<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="AMQP_APPENDER" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
            <includeCallerData>true</includeCallerData>

            <includeMdcKeyName>user.id</includeMdcKeyName>
            <includeMdcKeyName>user.name</includeMdcKeyName>
            <includeMdcKeyName>service.name</includeMdcKeyName>
            <includeMdcKeyName>service.node</includeMdcKeyName>

            <fieldNames>
                <!--<timestamp>time</timestamp>-->
                <levelValue>[ignore]</levelValue>
                <stackTrace>trace</stackTrace>
                <logger>class</logger>
                <thread>thread</thread>
                <caller>caller</caller>
            </fieldNames>

        </encoder>




        <!--<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
            <!--<providers>-->
                <!--<mdc/>-->
                <!--<timestamp/>-->
                <!--<version/>-->
                <!--<pattern>-->
                    <!--<pattern>-->
                        <!--{-->
                        <!--"service": "test-app",-->
                        <!--"node": "none",-->
                        <!--"user.id": "#asLong{%mdc{user.id}}",-->
                        <!--"user.name": "#asJson{%mdc{user.name}}",-->

                        <!--"thread": "%thread",-->
                        <!--"level": "%level",-->
                        <!--"class": "%logger",-->
                        <!--"message": "%message"-->
                        <!--}-->
                    <!--</pattern>-->
                <!--</pattern>-->
                <!--<stackTrace>-->
                    <!--<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
                        <!--<maxDepthPerThrowable>30</maxDepthPerThrowable>-->
                        <!--<maxLength>2048</maxLength>-->
                        <!--<shortenedClassNameLength>20</shortenedClassNameLength>-->
                        <!--&lt;!&ndash;<exclude>^sun\.reflect\..*\.invoke</exclude>&ndash;&gt;-->
                        <!--&lt;!&ndash;<exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>&ndash;&gt;-->
                        <!--<rootCauseFirst>true</rootCauseFirst>-->
                    <!--</throwableConverter>-->
                <!--</stackTrace>-->
            <!--</providers>-->
        <!--</encoder>-->


        <!-- RabbitMQ connection -->
        <host>localhost</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>

        <applicationId>test-app</applicationId>
        <routingKeyPattern>test-app</routingKeyPattern>
        <declareExchange>false</declareExchange>
        <exchangeType>topic</exchangeType>
        <exchangeName>logstash-exchange</exchangeName>

        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>
    </appender>


    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="AMQP_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="AMQP_APPENDER"/>
        </root>
    </springProfile>
</configuration>