<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="AMQP_APPENDER" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <sequence/>
                <timestamp/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                        "crex.app_name":"orders",
                        "thread": "%thread",
                        "level": "%level",
                        "class": "%logger{36}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>

        <!-- RabbitMQ connection -->
        <host>localhost</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>

        <exchangeName>logstash-crex</exchangeName>
        <exchangeType>direct</exchangeType>
        <routingKeyPattern>logstash-crex.orders</routingKeyPattern>
        <charset>UTF-8</charset>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="AMQP_APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="AMQP_APPENDER"/>
        </root>
    </springProfile>

    <logger name="crex" level="DEBUG" />
    <logger name="org.springframework.statemachine" level="WARN" />

</configuration>